.sectionForm {
  justify-content: center;
  display: flex;
  gap: 12px;
}

.input {
  width: 377px;
}

.buttonReset {
  margin-left: 92px;
}

.sectionResult {
  margin: 78px auto;
  max-width: 1040px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 78px;
  column-gap: 26px;
}